.grid {
	height: 482px;
	
}
.grid-col1 {
	width: 190px;
	height: 100%;
	margin-right: 10px;
	float: left;
	background-color: #6e6568;
}
.grid-col1 ul {
	padding: 16px 0;
}
.grid-col1 ul li {
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	padding-left: 9px;
}
.grid-col1 li a {
	font-size: 14px;
	color: #fff;
	padding: 0 3px;
}
.grid-col1 ul li:hover {
	background-color: #9c9698;
}
.grid-col2 {
	width: 790px;
	height: 100%;
	margin-right: 10px;
	float: left;
}
.grid-col2-t {
	width: 100%;
	height: 340px;
	position: relative;
}
.arrow-l,
.arrow-r {
	display: block;
	width: 30px;
	height: 60px;
	line-height: 60px;
	background-color: rgba(0,0,0,.3);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
	color: rgba(255,255,255,.7);
}
.arrow-l {
	left: 0;
}
.arrow-r {
	right: 0;
}
.circle {
	width: 182px;
	height: 20px;
	background-color: rgba(255,255,255,.3);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	border-radius: 10px;
}
.circle ul li {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
	float: left;
	margin: 4px 5px;
	cursor: pointer;
}
.circle ul li:hover {
	background-color: #db192a;
}
.circle ul li:first-child {
	margin-left: 7px;
}
.circle .current {
	background-color: #db192a;
}
.grid-col2-b {
	width: 100%;
	height: 130px;
	margin-top: 12px;
}
.grid-col2-b div:first-child {
	float: left;
}
.grid-col2-b div:last-child {
	float: right;
}

.grid-col3 {
	width: 190px;
	height: 100%;
	float: left;
	background-color: #fff;
}
.login {
	width: 160px;
	height: 85px;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
.login-t {
	width: 95px;
	height: 60px;
	line-height: 20px;
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 60px;
	position: relative;
}
.login-t a {
	color: #666;
}
.login-t a:hover {
	color: #f10512;
}
.user-info {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0px;
	background: url(../images/sprite_userinfo@1x.png) -70px 0px no-repeat;	
}
.user-info a img {
	width: 40px;
	border-radius: 50%;
	margin: 5px;

}
.login-b a {
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 2px solid #e01222;
	color: #e01222;
}
.login-b a:first-child {
	margin-right: 5px;
}

.login-b a:hover {
	color: #fff;
	background-color: #e01222;
}
.news {
	width: 100%;
	height: 154px;
	padding: 7px 13px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}
.news-t {
	height: 19px;
	border-bottom: 1px solid #ccc;	
	position: relative;
}
.news-t a {
	float: left;
	height: 17px;
	line-height: 17px;
}
.cuxiao {
	width: 38px;
	border-right: 1px solid #ccc;
}
.gg {
	margin-left: 6px;
}
.news-t .more {
	float: right;
}
.news-t div {
	height: 2px;
	width: 28px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: #db192b;
}
.news-b {
	padding-top: 12px;
}
.news-b li a {
	line-height: 24px;
}
.services {
	width: 100%;
	height: 212px;
	overflow: hidden;
}
.services ul {
	width: 196px;
}
.services ul li {
	width: 47px;
	height: 70px;
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.services li a {
	display: block;
	padding-top: 15px;
	text-align: center;
}
.services li i {
	display: block;
	margin: 0 auto;
	background: url(../images/sprite_fs@1x.png) no-repeat;

}
.services li:nth-child(1) i{
	width: 18px;
	height: 23px;
	background-position: -5px -88px;
}
.services li:nth-child(2) i{
	width: 20px;
	height: 22px;
	background-position: -2px -45px;
}
.services li:nth-child(3) i{
	width: 18px;
	height: 20px;
	background-position: -46px -89px;
}
.services li:nth-child(4) i{
	width: 25px;
	height: 13px;
	background-position: -87px -5px;
}
.services li:nth-child(5) i{
	width: 22px;
	height: 17px;
	background-position: -88px -47px;
}
.services li:nth-child(6) i{
	width: 19px;
	height: 20px;
	background-position: -2px -2px;
}
.services li:nth-child(7) i{
	width: 22px;
	height: 15px;
	background-position: -44px -47px;
}
.services li:nth-child(8) i{
	width: 16px;
	height: 22px;
	background-position: -92px -88px;
}
.services li:nth-child(9) i{
	width: 19px;
	height: 21px;
	background-position: -134px 0px;
}
.services li:nth-child(10) i{
	width: 18px;
	height: 23px;
	background-position: -135px -42px;
}
.services li:nth-child(11) i{
	width: 22px;
	height: 14px;
	background-position: -133px -92px;
}
.services li:nth-child(12) i{
	width: 15px;
	height: 22px;
	background-position: -48px 0px;
}
.services li span:first-child{
	display: block;
	height: 30px;
}